<div class="account-pages mt-5">
    <div class="container">
        <div class="text-center w-75 m-auto">
            <a href="index.html">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="52.389" xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 147.8 46.3"
                    style="enable-background:new 0 0 147.8 46.3;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill:#6868ab;
                        }

                        .st1 {
                            opacity: 0.5;
                        }

                        .st2 {
                            clip-path: url(#SVGID_2_);
                        }

                        .st3 {
                            clip-path: url(#SVGID_4_);
                        }
                    </style>
                    <g id="Group_47" transform="translate(-153.682 -381.792)">
                        <path id="Path_40" class="st0"
                            d="M175.2,389.5H168c-0.6,0-1.1,0.5-1.1,1.1l0,0v17.1c0,0.4,0.3,0.8,0.8,0.8h2.1   c0.4,0,0.8-0.3,0.8-0.8v-5.9h4.7c1.8,0.1,3.6-0.5,4.9-1.7c2.4-2.5,2.4-6.5,0-9C178.8,390,177,389.4,175.2,389.5 M177.5,397.9   c-0.7,0.6-1.5,0.8-2.4,0.8h-4.6v-6.2h4.6c0.9-0.1,1.7,0.2,2.4,0.8c0.6,0.6,0.9,1.4,0.8,2.3C178.4,396.5,178.1,397.3,177.5,397.9" />
                        <path id="Path_41" class="st0"
                            d="M194.9,398.5c0-2.8-1.9-4.1-5.7-4.1c-3.5,0-5.5,1.3-6.1,3.8c-0.1,0.4,0.2,0.8,0.6,0.9   c0,0,0.1,0,0.1,0h1.8c0.3,0,0.6-0.2,0.7-0.6c0.1-0.4,0.3-0.8,0.7-1.1c0.6-0.4,1.4-0.6,2.1-0.5c0.7-0.1,1.3,0.1,1.9,0.4   c0.4,0.3,0.6,0.8,0.6,1.3c0,0.4-0.1,0.8-0.5,1.1c-0.4,0.3-1,0.5-1.5,0.5l-2.1,0.2c-3.5,0.4-5.3,1.8-5.3,4.3c-0.1,1.2,0.4,2.3,1.3,3   c1,0.8,2.3,1.2,3.6,1.1c1.7,0.1,3.4-0.6,4.4-2c0,0.5,0.1,1,0.3,1.4c0.1,0.1,0.2,0.2,0.3,0.2h2.6c0.2,0,0.3-0.1,0.3-0.3   c0,0,0-0.1,0-0.1c-0.2-0.7-0.4-1.4-0.3-2.2L194.9,398.5z M191.6,403c0.1,0.9-0.3,1.8-1,2.5c-0.7,0.6-1.6,0.9-2.6,0.9   c-0.6,0-1.2-0.1-1.7-0.5c-0.4-0.3-0.6-0.8-0.6-1.4c0-0.5,0.2-1,0.6-1.3c0.6-0.4,1.2-0.6,1.9-0.6l1.8-0.2c0.4,0,0.8-0.1,1.1-0.3   c0.2-0.1,0.4,0,0.4,0.2c0,0,0,0.1,0,0.1L191.6,403z" />
                        <path id="Path_42" class="st0"
                            d="M200.7,397.2v-1.5c0-0.5-0.4-0.9-0.9-0.9h-1.4c-0.5,0-0.9,0.4-0.9,0.9c0,0,0,0,0,0v12.1   c0,0.4,0.3,0.8,0.8,0.8h1.8c0.4,0,0.8-0.3,0.8-0.8v-6.2c-0.1-1.1,0.3-2.1,1-2.9c0.8-0.7,1.9-1,2.9-1h0.9v-3.1   c-0.3,0-0.6-0.1-0.8-0.1C203,394.4,201.3,395.5,200.7,397.2" />
                        <path id="Path_43" class="st0"
                            d="M223.9,401.8c-1.1-0.8-2.3-1.3-3.6-1.4l-1.7-0.3c-0.6-0.1-1.2-0.3-1.8-0.6   c-0.4-0.2-0.6-0.7-0.5-1.1c0-1.1,0.8-1.6,2.4-1.6c0.7-0.1,1.5,0.1,2.1,0.5c0.4,0.3,0.6,0.7,0.7,1.1c0.1,0.4,0.4,0.6,0.8,0.6h1.6   c0.4,0,0.8-0.4,0.8-0.8c0,0,0-0.1,0-0.1c-0.5-2.5-2.5-3.7-6-3.7c-1.5-0.1-3,0.3-4.2,1.1c-1,0.7-1.5,1.8-1.5,3   c0,2.3,1.5,3.7,4.5,4.2l1.6,0.3c0.7,0.1,1.4,0.3,2.1,0.7c0.4,0.3,0.6,0.7,0.6,1.1c0,1.1-0.9,1.7-2.7,1.7c-0.8,0.1-1.6-0.1-2.2-0.5   c-0.4-0.3-0.6-0.7-0.7-1.2c-0.1-0.3-0.4-0.6-0.8-0.6h-1.7c-0.4,0-0.8,0.4-0.8,0.8c0,0,0,0.1,0,0.1c0.5,2.5,2.6,3.8,6.2,3.8   c1.6,0.1,3.1-0.3,4.5-1.1c1.1-0.7,1.7-1.9,1.6-3.2C225.1,403.5,224.6,402.5,223.9,401.8" />
                        <path id="Path_44" class="st0"
                            d="M241.1,417.3L241.1,417.3c-4.3,0.1-8.5-1.7-11.4-4.9c-0.2-0.2-0.6-0.3-0.8-0.1l-1.5,1.2   c-0.3,0.2-0.3,0.6-0.1,0.8c0,0,0,0,0,0c3.5,4,8.6,6.2,13.9,6.1l0,0c5.3,0.1,10.4-2.1,13.9-6.1c0.2-0.3,0.2-0.6-0.1-0.8c0,0,0,0,0,0   l-1.5-1.2c-0.3-0.2-0.6-0.1-0.8,0.1C249.6,415.6,245.4,417.4,241.1,417.3" />
                        <path id="Path_45" class="st0"
                            d="M248.7,389.9h-1.9c-0.5,0-0.9,0.4-0.9,0.9v17.3c0,0.4,0.3,0.8,0.8,0.8c0,0,0,0,0,0h1.8   c0.4,0,0.8-0.3,0.8-0.8l0,0v-17.7C249.3,390.1,249,389.9,248.7,389.9C248.7,389.9,248.7,389.9,248.7,389.9" />
                        <path id="Path_46" class="st0"
                            d="M255.3,394.4l-3.4-1v15.1c0,0.2,0.1,0.3,0.3,0.3c0,0,0,0,0,0h2.7c0.2,0,0.3-0.1,0.3-0.3   c0,0,0,0,0,0L255.3,394.4z" />
                        <path id="Path_47" class="st0"
                            d="M207.4,394.5l3.4-1v15.1c0,0.2-0.1,0.3-0.3,0.3c0,0,0,0,0,0h-2.7c-0.2,0-0.3-0.1-0.3-0.3   c0,0,0,0,0,0L207.4,394.5z" />
                        <path id="Path_48" class="st0"
                            d="M265.6,394.8c-1.7,0-3.4,0.8-4.3,2.3v-1c0-0.5-0.4-0.9-0.9-0.9H259c-0.5,0-0.9,0.4-0.9,0.9v12.5   c0,0.2,0.2,0.3,0.3,0.3l0,0h2.7c0.2,0,0.3-0.1,0.3-0.3l0,0v-7.4c-0.1-1.2,0.5-2.4,1.5-3.1c0.5-0.3,1.1-0.4,1.7-0.4   c1.2-0.1,2.3,0.8,2.4,2.1c0,0.2,0,0.3,0,0.5v8.2c0,0.2,0.2,0.3,0.3,0.3h2.7c0.2,0,0.3-0.1,0.3-0.3l0,0v-8.8   c0.1-1.3-0.4-2.7-1.3-3.7C268.1,395.2,266.9,394.7,265.6,394.8" />
                        <path id="Path_49" class="st0"
                            d="M279.3,394.8c-1.8-0.1-3.6,0.6-4.9,2c-2.5,3-2.5,7.4,0,10.4c1.3,1.3,3.1,2,5,2   c1.5,0,2.9-0.4,4.2-1.2c1.1-0.8,1.9-2,2.2-3.3h-3.2c-0.5,1.3-1.8,2.1-3.1,2c-0.9,0-1.8-0.3-2.5-0.9c-0.7-0.7-1.1-1.7-1.1-2.6h10.3   v-0.8c0.1-2-0.6-3.9-1.8-5.4C283,395.4,281.2,394.7,279.3,394.8 M275.8,400.6c0.3-2.2,1.5-3.3,3.4-3.3c0.9,0,1.7,0.3,2.3,0.9   c0.6,0.6,1,1.5,1.1,2.4L275.8,400.6z" />
                        <g id="Group_43" transform="translate(272.36 385.965)" class="st1">
                            <g id="Group_42">
                                <g>
                                    <defs>
                                        <rect id="SVGID_1_" x="13.2" y="7.7" width="1.7" height="2" />
                                    </defs>
                                    <clipPath id="SVGID_2_">
                                        <use xlink:href="#SVGID_1_" style="overflow:visible;" />
                                    </clipPath>
                                    <g id="Group_41" class="st2">
                                        <path id="Path_50" class="st0"
                                            d="M14.7,9.1c0-0.2-0.1-0.3-0.2-0.4c0.2-0.1,0.3-0.3,0.3-0.5c0-0.2-0.1-0.3-0.2-0.4       c-0.2-0.1-0.3-0.2-0.5-0.1h-0.9v2h0.4V8.9H14c0.1,0,0.1,0,0.2,0.1c0,0.1,0.1,0.1,0.1,0.2l0,0.2c0,0.1,0,0.2,0.1,0.3h0.5       c-0.1-0.1-0.1-0.2-0.1-0.3L14.7,9.1z M14.1,8.6h-0.4V8.1H14c0.2,0,0.3,0.1,0.3,0.2S14.2,8.6,14.1,8.6" />
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g id="Group_46" transform="translate(271.154 385.061)" class="st1">
                            <g id="Group_45">
                                <g>
                                    <defs>
                                        <rect id="SVGID_3_" x="13.2" y="7.7" width="3.9" height="3.8" />
                                    </defs>
                                    <clipPath id="SVGID_4_">
                                        <use xlink:href="#SVGID_3_" style="overflow:visible;" />
                                    </clipPath>
                                    <g id="Group_44" class="st3">
                                        <path id="Path_51" class="st0"
                                            d="M15.2,7.7c-0.5,0-1,0.2-1.4,0.6c-0.7,0.7-0.8,1.9,0,2.7c0,0,0,0,0,0c0.8,0.7,2,0.7,2.8,0       c0.7-0.7,0.8-2,0-2.7c0,0,0,0,0,0C16.2,7.9,15.7,7.7,15.2,7.7 M16.3,10.7c-0.6,0.6-1.6,0.6-2.2,0c-0.3-0.3-0.4-0.7-0.4-1.1       c0-0.4,0.1-0.8,0.4-1.1c0.6-0.6,1.6-0.6,2.2,0C16.8,9.1,16.8,10.1,16.3,10.7" />
                                    </g>
                                </g>
                            </g>
                        </g>
                        <path id="Path_52" class="st0"
                            d="M231.1,404.7L231.1,404.7l1.1-3.1l0,0l0.7-2.1c0.7-1.9,1.4-3.7,2-5.7c0.1-0.2,0.2-0.2,0.4-0.2   c0.1,0,0.2,0.1,0.2,0.2c0.8,2.4,1.5,4.2,2.1,5.6l0.7,2.1h0l1.1,3.1h0l1.3,3.7c0.1,0.3,0.4,0.5,0.7,0.5h2.2c0.4,0,0.8-0.3,0.8-0.8   c0-0.1,0-0.2-0.1-0.3l-6.6-17c-0.2-0.6-0.8-0.9-1.4-0.9h-2.2c-0.6,0-1.2,0.4-1.4,1l-6.5,17c-0.1,0.4,0,0.8,0.4,1c0.1,0,0.2,0,0.3,0   h2.1c0.3,0,0.6-0.2,0.7-0.5L231.1,404.7z" />
                        <path id="Path_54" class="st0"
                            d="M252.7,389.9h1.9c0.4,0,0.7,0.3,0.7,0.7v2.4l-3.3-1v-1.4C252,390.2,252.3,389.9,252.7,389.9" />
                        <path id="Path_55" class="st0"
                            d="M210,389.9h-1.9c-0.4,0-0.7,0.3-0.7,0.7v2.4l3.3-1v-1.4C210.8,390.2,210.4,389.9,210,389.9" />
                    </g>
                </svg>
                  </span>
            </a>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-10">
                <div class="card bg-pattern PCard">

                    <div class="card-body" style="padding:0;">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="pt-4 pl-4 pr-4">
                                    <div id="ErrorMessagePublic" ng-if="ErrorMessagss !=' '" class="notifiError">
                                            <p ng-bind-html="ErrorMessagss">sdsd</p>
                                    </div>
                                    <h3 class="text-center mt-4 mb-3" style="color: #000;">Let’s log in</h3>
                                    <form action="#" id="formLogin">

                                        <div class="form-group ">
                                            <input class="form-control inputLogin"  VFORM type="email" id="email" EClass="errorInput" SClass="sucssInput" required="" placeholder="Your Email">
                                            <a class="ErrorMessage" titleError="is Email requement"></a>
                                        </div>
    
                                        <div class="form-group ">
                                            <input class="form-control inputLogin"  VFORM type="password" id="password" EClass="errorInput" SClass="sucssInput"   required=""  placeholder="Your Password">
                                            <a class="ErrorMessage" titleError="is Password requement"></a>
                                        </div>
    
                                        <div class="form-group mb-3">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                                                <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                                <a class="float-right" href="/Auth/Rec">Forgot Password</a>
                                            </div>

                                        </div>
    
                                        <div class="form-group mb-0 text-center">
                                            <button class="ladda-button btn btn-primary" data-style="expand-left" ng-click="Login()" type="button" style="    width: 100%;border-radius: 10px !IMPORTANT;height: 45px;"> Continue </button>
                                            <h4 class="text-center" style="color: #969697;">OR</h4>
                                            <button class="btn btn-outline-light rounded" type="button" id="loginGoogel" style="color: #000;width: 100%;border-radius: 10px !IMPORTANT;height: 45px;">
                                             <img src="assets/images/attached-files/google.png" style="width: 25px;">  Continue with Google
                                            </button>
                                        </div>
                                        <div class="mt-3 text-center" style="font-size: 15px;">
                                            <label>New to ParisAline?<a href="/Auth/Signup" style="text-decoration: underline ;"> Become a provider now!</a></label>
                                        </div>
    
                                    </form> 
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <img class="backgroundLogin" src="assets/images/attached-files/img1.png" style="width: 100%;">
                            </div>
                        </div>
                    </div> <!-- end card-body -->
                </div>

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>