<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="card" ng-if="!Submit" style="background: none; box-shadow: none;">
          <div class="card-header cardheaderCases">
            Treatment Plan
          </div>
          <div class="card-body cardBodyCases">
            <div class="row">
              <div class="col-md-12">
                <div class="tabKiven">
                  <div class="tabs">
                    <div class="tab" ng-repeat="tab in Tabs" ng-class="{'active': tab.set}" ng-click="setTabs(tab.id)" style="text-align: center;">
                      <div>Option {{tab.nLevel}}</div>
                      <label style="font-size: 10px;">{{tab.createdAt}}</label>
                    </div>
                    <div class="btn btn-outline-info tab" ng-if="taskStatus==1"  style="margin-left: 3px;padding: 14px;" ng-click="AddLevel()"><i class="fe-plus"></i></div>
                  </div>
                  <div class="content">
                      <div class="content-item" ng-class="{'active': tab.set}" ng-repeat="tab in Tabs">
                          <div class="row tabLevel">
                            <div class="tabs col-md-3">
                              <h3 style="text-align: center;display: none;">Price <strong style="color: #6868aa;">{{tab.salary}}$</strong></h3>
                              <div class="tab"  ng-class="{'active': tab.select=='V3dV'}" ng-click="setSelect('V3dV',tab.nLevel)">3d Viwer</div>
                              <div class="tab"  ng-class="{'active': tab.select=='Setup'}" ng-click="setSelect('Setup',tab.nLevel)">Setup PDF</div>
                              <div class="tab"  ng-class="{'active': tab.select=='Simulation'}" ng-click="setSelect('Simulation',tab.nLevel)">Simulation PDF</div>
                              <div class="tab"  ng-class="{'active': tab.select=='Right'}" ng-click="setSelect('Right',tab.nLevel)">Right Video</div>
                              <div class="tab"  ng-class="{'active': tab.select=='Left'}" ng-click="setSelect('Left',tab.nLevel)">Left Video</div>
                              <div class="tab"  ng-class="{'active': tab.select=='Frontal'}" ng-click="setSelect('Frontal',tab.nLevel)">Frontal and Occlusal Views</div>
                            </div>
                            <div class="content col-md-9">
                                <div  style="margin-top: -26px;width: 70%;margin-bottom: 7px;width: 100%;display: flex;">
                                  <input class="form-control" value="{{tab.link}}" id="linkShereyStringsUrl" readonly><a style="width: 200px;float: right;margin-left: 10px;" class="btn btn-outline-info" ng-click="CopyLink()">Copy share link</a>
                                </div>
                                <div class="content-item active" style="{{tab.Setup?'display: inline-block;':''}}" ng-if="tab.select=='Setup'">
                                  <div ng-if="tab.Setup && taskStatus==1" style="width: 100%;padding: 2px;height: 45px;">
                                    <button class="btn btn-outline-danger" style="float: left;" ng-click="removeFile(tab.SetupBisec,tab.nLevel,'Setup')">Remove <i class="fe-delete"></i></button>
                                  </div>
                                  <iframe ng-if="tab.Setup" ng-src="{{tab.Setup}}" style="border: 1px solid black;width: 100%;min-height: 400px;"></iframe>
                                  <div ng-if="!tab.Setup && taskStatus==1" event-Done="eventDonUpload(PATH,tab.nLevel,'Setup')" style="position: relative;"  id="TretmentPlan/{{tab.nLevel}}/Setup" idPatient="{{idPatient}}"  imgclass="imageStl" filesrc="{{tab.Setup?tab.Setup:''}}"  class="dragdrop"  defultimage="https://www.pngall.com/wp-content/uploads/2/Upload-PNG-Image-File.png" drag-Drop typefile="pdf" multifile="false"></div>
                                </div>
                                <div class="content-item active" style="{{tab.V3dV?'display: inline-block;':''}} ;position: relative;" ng-if="tab.select=='V3dV'">
                                  <div class="row" style="width: 100%;" ng-if="tab.V3dV.length!=2 && !NemoLink">
                                    <div class="col-md-8">
                                      <input class="form-control" type="url" id="linkOurthub{{tab.nLevel}}">
                                  
                                    </div>
                                    <div class="col-md-4">
                                      <a class="btn btn-outline-info" ng-click="GenrateViewr($event,tab.nLevel)">make a show</a>
                                    </div>
                                  </div>
                                  <div  ng-if="tab.V3dV.length==2 || NemoLink" style="background: #6565a7;">
                                      
                                  <div class="kivenView" id="kiven{{tab.nLevel}}"></div>
                                  <div class="NotPeermstion" style="position: absolute; width: 100%; height: 100%; top: 0px; z-index: 0;padding: 15%;opacity: 0.5;">
                                      <h1 style="text-align: center; width: 100%;left: 0;position: absolute;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="300.711" height="274.397" viewBox="0 0 300.711 274.397">
                                        <path fill="#fff" id="Path_460" data-name="Path 460" d="M77.779,0H6.412A6.42,6.42,0,0,0,0,6.419v167.4a3.108,3.108,0,0,0,3.113,3.113H30.435a3.116,3.116,0,0,0,3.113-3.113V115.053H77.779q29.565,0,46.1-15.531T140.4,57.65q0-26.6-16.524-42.126T77.779,0m21,78.9q-7.829,7.329-22.489,7.332H33.547V28.821H76.286q14.657,0,22.489,7.452T106.6,57.65q0,13.918-7.825,21.25" fill="#6868ac"></path>
                                        <path fill="#fff"  id="Path_461" data-name="Path 461" d="M66.074,137.922h.06l10.125-28.575h0L82.971,90.2q11.178-29.815,21.616-60.629Q117.754,68.1,126.45,90.2l6.972,19.143,10.185,28.575,13.171,36.947a3.107,3.107,0,0,0,2.933,2.066h28.8a3.113,3.113,0,0,0,2.906-4.233L125.663,3.086A4.827,4.827,0,0,0,121.157,0H88.536a4.833,4.833,0,0,0-4.519,3.119l-64.555,169.6a3.1,3.1,0,0,0,2.906,4.213H50.2a3.119,3.119,0,0,0,2.939-2.08Z" transform="translate(109.081)" fill="#6868ac"></path>
                                        <path fill="#fff" id="Path_462" data-name="Path 462" d="M127.484,75.363h-.02c-40.739,0-78.019-16.017-100.829-43.092A5.194,5.194,0,0,0,19.5,31.4L6.106,41.6a5.179,5.179,0,0,0-.92,7.385c27.895,33.634,73.167,53.564,122.278,53.564h.02c49.118,0,94.4-19.95,122.3-53.59a5.179,5.179,0,0,0-.926-7.385l-13.4-10.2a5.187,5.187,0,0,0-7.132.88c-22.8,27.082-60.083,43.112-100.835,43.112" transform="translate(22.869 171.846)" fill="#6868ac"></path>
                                        </svg>
                                     </h1>
                                  </div>
                                    <div style="width: 100%;padding: 2px;height: 45px;">
                                      <button class="btn btn-outline-danger" style="float: left;" ng-click="removeView(tab.V3dV[0].path,tab.nLevel,'V3dV')">Remove <i class="fe-delete"></i></button>
                                    </div>
                                  </div>
                                </div>
                                <div class="content-item active" style="{{tab.Simulation?'display: inline-block;':''}}" ng-if="tab.select=='Simulation'">
                                  <div ng-if="tab.Simulation && taskStatus==1" style="    width: 100%;padding: 2px;height: 45px;">
                                    <button class="btn btn-outline-danger" style="float: left;" ng-click="removeFile(tab.SimulationBisec,tab.nLevel,'Simulation')">Remove <i class="fe-delete"></i></button>
                                  </div>
                                  <iframe ng-if="tab.Simulation" ng-src="{{tab.Simulation}}" style="border: 1px solid black;width: 100%;min-height: 400px;"></iframe>
                                  <div ng-if="!tab.Simulation && taskStatus==1" event-Done="eventDonUpload(PATH,tab.nLevel,'Simulation')" style="position: relative;"  id="TretmentPlan/{{tab.nLevel}}/Simulation" idPatient="{{idPatient}}"  imgclass="imageStl" filesrc="{{tab.Simulation?tab.Simulation:''}}"  class="dragdrop"  defultimage="https://www.pngall.com/wp-content/uploads/2/Upload-PNG-Image-File.png" drag-Drop  typefile="pdf" multifile="false"></div>
                                </div>
                                <div  class="content-item active" style="{{tab.Right?'display: inline-block;':''}}"  ng-if="tab.select=='Right'">
                                  <div style="    width: 100%;padding: 2px;height: 45px;" ng-if="tab.Right && taskStatus==1">
                                    <button class="btn btn-outline-danger" style="float: left;" ng-click="removeFile(tab.SimulationBisec,tab.nLevel,'Right')">Remove <i class="fe-delete"></i></button>
                                  </div>
                                    <video ng-if="tab.Right" style="width: 100%;min-height: 400px;"
                                        id="my-player"
                                        class="video-js"
                                        controls
                                        preload="auto"
                                        data-setup='{}'>
                                        <source src="{{tab.Right}}" type="video/mp4"></source>
                                    </video>
                                    <div ng-if="!tab.Right && taskStatus==1" event-Done="eventDonUpload(PATH,tab.nLevel,'Right')" style="position: relative;"  id="TretmentPlan/{{tab.nLevel}}/Right" idPatient="{{idPatient}}"  imgclass="imageStl" filesrc="{{tab.Right?tab.Right:''}}"  class="dragdrop"  defultimage="https://www.pngall.com/wp-content/uploads/2/Upload-PNG-Image-File.png" drag-Drop typefile="mp4" multifile="false"></div>
                                </div>
                                <div class="content-item active" style="{{tab.Left?'display: inline-block;':''}}" ng-if="tab.select=='Left'">
                                  <div style="    width: 100%;padding: 2px;height: 45px;" ng-if="tab.Left && taskStatus==1">
                                    <button class="btn btn-outline-danger" style="float: left;" ng-click="removeFile(tab.LeftBisec,tab.nLevel,'Left')">Remove <i class="fe-delete"></i></button>
                                  </div>
                                  <video ng-if="tab.Left" style="width: 100%;min-height: 400px;"
                                      id="my-player"
                                      class="video-js"
                                      controls
                                      preload="auto"
                                      data-setup='{}'>
                                      <source src="{{tab.Left}}" type="video/mp4"></source>
                                  </video>
                                  <div ng-if="!tab.Left && taskStatus==1" event-Done="eventDonUpload(PATH,tab.nLevel,'Left')" style="position: relative;"  id="TretmentPlan/{{tab.nLevel}}/Left" idPatient="{{idPatient}}"  imgclass="imageStl" filesrc="{{tab.Left?tab.Left:''}}"  class="dragdrop"  defultimage="https://www.pngall.com/wp-content/uploads/2/Upload-PNG-Image-File.png" drag-Drop typefile="mp4" multifile="false"></div>
                                </div>
                                <div class="content-item active" style="{{tab.Frontal?'display: inline-block;':''}}" ng-if="tab.select=='Frontal'">
                                  <div style="    width: 100%;padding: 2px;height: 45px;" ng-if="tab.Frontal && taskStatus==1">
                                    <button class="btn btn-outline-danger" style="float: left;" ng-click="removeFile(tab.FrontalBisec,tab.nLevel,'Frontal')">Remove <i class="fe-delete"></i></button>
                                  </div>
                                  <video ng-if="tab.Frontal" style="width: 100%;min-height: 400px;"
                                      id="my-player"
                                      class="video-js"
                                      controls
                                      preload="auto"
                                      data-setup='{}'>
                                      <source src="{{tab.Frontal}}" type="video/mp4"></source>
                                  </video>
                                  <div ng-if="!tab.Frontal && taskStatus==1" event-Done="eventDonUpload(PATH,tab.nLevel,'Frontal')" style="position: relative;"  id="TretmentPlan/{{tab.nLevel}}/Frontal" idPatient="{{idPatient}}"  imgclass="imageStl" filesrc="{{tab.Frontal?tab.Frontal:''}}"  class="dragdrop"  defultimage="https://www.pngall.com/wp-content/uploads/2/Upload-PNG-Image-File.png" drag-Drop typefile="mp4" multifile="false"></div>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="card">
                                <div class="card-Body" style="    text-align: center; padding: 10px; border: 1px dashed #c5c0c0;">
                                  <label>File Model</label>
                                  <a class="btn btn-outline-info" target="_blank" href="{{tab.ModelOPN}}" ng-if="tab.ModelOPN" style="width: 100%;">
                                    download <i class="fe-download"></i>
                                  </a>
                                  <div ng-if="!tab.ModelOPN && taskStatus==1" event-Done="eventDonUpload(PATH,tab.nLevel,'ModelOPN')" style="position: relative;"  id="TretmentPlan/{{tab.nLevel}}/ModelOPN" idPatient="{{idPatient}}"  imgclass="imageStl" filesrc="{{tab.ModelOPN?tab.ModelOPN:''}}"  class="dragdrop"  defultimage="https://www.pngall.com/wp-content/uploads/2/Upload-PNG-Image-File.png" drag-Drop typefile="opn" multifile="false"></div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="card">
                                <div class="card-Body" style="    text-align: center; padding: 10px; border: 1px dashed #c5c0c0;">
                                  <label>File Treatment Plan OPN</label>
                                  <a class="btn btn-outline-info" href="{{tab.treatmentPlanOPN}}" target="_blank" ng-if="tab.treatmentPlanOPN" style="width: 100%;">
                                    download <i class="fe-download"></i>
                                  </a>
                                  <div ng-if="!tab.treatmentPlanOPN && taskStatus==1" event-Done="eventDonUpload(PATH,tab.nLevel,'treatmentPlanOPN')" style="position: relative;"  id="TretmentPlan/{{tab.nLevel}}/treatmentPlanOPN" idPatient="{{idPatient}}"  imgclass="imageStl" filesrc="{{tab.treatmentPlanOPN?tab.treatmentPlanOPN:''}}"  class="dragdrop"  defultimage="https://www.pngall.com/wp-content/uploads/2/Upload-PNG-Image-File.png" drag-Drop typefile="opn" multifile="false"></div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <strong class="TextShadowNUmber">Upper Aligners</strong>
                              <div class="input-group">
                                  <div class="input-group-append" ng-if="tab.UpperAlignersInput!=tab.UpperAligners">
                                    <button class="btn btn-outline-info waves-effect waves-light" ng-click="updateUpperAligner(tab.UpperAlignersInput,tab.nLevel)" type="button"><i class="fe-save"></i> Save</button>
                                  </div>
                                  <input class="form-control text-center" ng-model="tab.UpperAlignersInput" min="0" max="60" type="number">
                              </div>  
                            </div>
                            <div class="col-md-4">
                              <strong class="TextShadowNUmber">Lower Aligners</strong>
                              <div class="input-group">
                                  <div class="input-group-append" ng-if="tab.LowerAlignersInput!=tab.LowerAligners">
                                    <button class="btn btn-outline-info waves-effect waves-light" ng-click="updateLowerAligner(tab.LowerAlignersInput,tab.nLevel)" type="button"><i class="fe-save"></i> Save</button>
                                  </div>
                                  <input class="form-control text-center" ng-model="tab.LowerAlignersInput" min="0" max="60" type="number">
                              </div>  
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="col-md-1"></div>
</div>