

<div>
  <div >
    <div class="row">
      <div class="col-md-2">
        <h5>$Cases</h5>
      </div>
      <div class="col-md-2">
        <ng-select   bindLabel="name" bindValue="name" [items]="Condation" class="kiven" style="text-align: center;" ></ng-select>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="number" style="border: none !important ; border-bottom: 1px dashed #b3b3b3 !important;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <ng-select   bindLabel="name" bindValue="name" [items]="OrAnd" style="text-align: center;"></ng-select>
      </div>
      <div class="col-md-2">
        <ng-select   bindLabel="name" bindValue="name" [items]="Condation" class="kiven"  style="text-align: center;" ></ng-select>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="number" style="border: none !important ; border-bottom: 1px dashed #b3b3b3 !important;">
      </div>
    </div>
  </div>
</div>