
                <div class="slimscroll-menu">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <li class="menu-title">MENU</li>

                            <li>
                                <a href="/">
                                    <i class="fe-airplay"></i>
                                    <span class="badge badge-info badge-pill float-right"></span>
                                    <span> Dashboards </span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="fe-settings"></i>
                                    <span> Settings </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/#!/settings/system"><i class="fe-cpu"></i> System Settings</a></li>
                                    <li><a href="/#!/settings/languages"><i class="mdi mdi-google-translate"></i> Languages</a>
                                    </li>
                                    <li><a href="/#!/settings/emailForms"><i class="fe-mail"></i> Email Forms</a></li>
                                    <li><a href="apps-kanbanboard.html"><i class="fas fa-sms"></i> Sms Forms</a></li>
                                    <li><a href="apps-kanbanboard.html"><i class="fas fa-code"></i> API</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);">
                                    <i class="mdi mdi-web"></i>
                                    <span> Web Site </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="apps-kanbanboard.html"><i class="fe-database"></i> Database</a></li>
                                    <li><a href="apps-kanbanboard.html"><i class="fe-file"></i> Pages</a></li>
                                    <li>
                                        <a href="javascript: void(0);" aria-expanded="false">
                                            <i class="mdi mdi-file-document-box"></i>
                                            Posts
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <ul class="nav-third-level nav" aria-expanded="false">
                                            <li>
                                                <a href="javascript: void(0);">Home</a>
                                            </li>
                                            <li>
                                                <a href="javascript: void(0);">About us</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="apps-kanbanboard.html"><i
                                                class="mdi mdi-shield-link-variant-outline"></i> Routers</a></li>
                                    <li><a href="apps-kanbanboard.html"><i class="fe-layers"></i> Forms Builder</a></li>
                                    <li><a href="apps-kanbanboard.html"><i class="fe-menu"></i> Menus</a></li>
                                    <li><a href="apps-kanbanboard.html"><i class="fe-folder"></i> Source</a></li>
                                    <li><a href="apps-kanbanboard.html"><i class="mdi mdi-folder-open"></i> Public</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>