<h1 style="color: #6868ab;
text-shadow: 1px 1px 8px #6868ab;">List of Patients </h1>
<a class="btn btn-outline-primary btn-sm" ng-click="reloadTable()"
    style="padding: 4px;position: absolute;    z-index: 1; right: 0;">
    <i class="fa fa-search"></i>
</a>
<div ng-if="modelStatus">
    <div class="modal-backdrop fade show"></div>
    <div id="viewerStl" class="modal fade bs-example-modal-lg show" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog modal-full">
            <div class="modal-content" style="border-radius: 20px;min-height: 70vh;">
                <div class="modal-header">
                    <h4 class="modal-title">Information Patient {{NumberPatient}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeModelTask()">×</button>
                </div>
                <div class="modal-body p-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="position: relative;border: 1px dashed #6868ab;">
                                <div class="table-responsive" style="background: #fff;height: 100%;text-align:center;">
                                    <table class="table table-dark mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="color: #fff;">Type User</th>
                                                <th class="text-center" style="color: #fff;">User Name</th>
                                                <th class="text-center" style="color: #fff;">Start Task</th>
                                                <th class="text-center" style="color: #fff;">End Task</th>
                                                <th class="text-center" style="color: #fff;">Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bodyTabelProcess">
                                            <tr ng-repeat="(key, value) in taskData"
                                                style="background-color: {{value.TaskType===1?'#075800':'#580800'}};color: #fff;">
                                                <td class="text-center">{{value.TaskUserType}}</td>
                                                <td class="text-center">{{value.TaskUserName}}</td>
                                                <td class="text-center">{{value.startTask | date}} {{value.startTask | time}}</td>
                                                <td class="text-center">{{value.EndTask | date}} {{value.EndTask | time}}</td>
                                                <td class="text-center">{{value.CommentUser}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>


<div ng-if="modelShipping" class="modelShipping">
    <div class="modelShiping modal-backdrop fade show"></div>
    <div id="viewerStl" class="modal fade bs-example-modal-lg show" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog modal-full">
            <div class="modal-content" style="border-radius: 20px;min-height: 70vh;">
                <div class="modal-header">
                    <h4 class="modal-title">Shipping Patient {{NumberPatient}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModelShipping()">×</button>
                </div>
                <div class="modal-body p-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="position: relative;border: 1px dashed #6868ab;">
                                <div style="padding: 10px;text-align: center;">
                                    <div>
                                        <strong>From</strong> : {{dataTraking.shipments[0].from}} --->   <strong>To</strong> : {{dataTraking.shipments[0].to}} 
                                    </div> 
                                    <div>
                                        <strong>Status</strong> : {{dataTraking.shipments[0].sub_status?dataTraking.shipments[0].sub_status:dataTraking.shipments[0].status}}
                                    </div>
                                </div>
                                <div id="kivenShipping" style="overflow-y: scroll; height: 60vh; overflow-x: hidden;">
                                    <div class="order-track">
                                        <div class="order-track-step"  ng-repeat="(key, value) in dataTraking.shipments[0].states">
                                            <div style="justify-content: center;align-items: center; display: flex;    width: 150px;">
                                                <div>
                                                    <div>
                                                        <strong>{{value.date.split('T')[0]}}</strong>
                                                    </div>
                                                    <div>
                                                        <strong>{{value.date.split('T')[1]}}</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="order-track-status">
                                                <span class="order-track-status-dot">{{key+1}}</span>
                                                <span class="order-track-status-line"></span>
                                            </div>
                                            <div class="order-track-text" style="max-width: 67%;">
                                                <p class="order-track-text-stat">{{value.location}}</p>
                                                <span class="order-track-text-sub">{{value.status}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <table id="scroll-vertical-datatable" class="table dt-responsive nowrap tabelStatus">
        <thead>
            <tr>
                <th style="padding: 2px;"><input class="form-control" id="Case_Number" placeholder="Case Number"></th>
                <th style="padding: 2px;"><input class="form-control" id="type" placeholder="type"></th>
                <th style="padding: 2px;">
                    <div style="    display: inline-flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;">
                        <input class="form-control" type="date" id="Case_Date">
                        <span style="margin: 0 3px;">TO</span>
                        <input class="form-control" type="date" id="Case_Date_TO">
                    </div>
                </th>
                <th style="padding: 2px;"><input class="form-control" id="Doctor_Name" placeholder="Doctor's Name"></th>
                <th style="padding: 2px;"><input class="form-control" id="Patient_Name" placeholder="Patient's Name">
                </th>
                <th style="padding: 2px;"><input class="form-control" id="Country" placeholder="Country"></th>
                <th style="padding: 2px;"><input class="form-control" id="City" placeholder="City"></th>
                <th style="padding: 2px;"><input class="form-control" id="Territory_Manager"
                        placeholder="Territory Manager"></th>
                <th style="padding: 2px;">
                    <select class="form-control" id="User_Type">
                        <option value="">All</option>
                        <option value="4">Coordinator</option>
                        <option value="3">Lab</option>
                        <option value="5">treatmentplanner</option>
                        <option value="7">Supervisor</option>
                        <option value="9">Accountants</option>
                    </select>
                </th>
                <th style="padding: 2px;"><input class="form-control" id="Task_Name" placeholder="Task With"></th>
                <th style="padding: 2px;"><input class="form-control" type="date" id="Task_Since" placeholder="Task Since"></th>
                <th style="padding: 2px;"><input class="form-control" type="date" id="Task_Seen" placeholder="Task Seen"></th>
                <th style="padding: 2px;">
                    <select class="form-control" id="Case_Status">
                        <option value="">All</option>
                    </select>
                </th>
                <th style="padding: 2px;"><input class="form-control" type="date" id="Task_Seen" placeholder="Submited Date"></th>
                <th style="padding: 2px;"><input class="form-control" id="parisalinePartner" placeholder="parisaline Partner"></th>
                <th style="padding: 2px;"><input class="form-control" id="ClinicName" placeholder="Clinic Name"></th>
                <th style="padding: 2px;"><input class="form-control" id="CustomerNumber" placeholder="Customer Number"></th>
            </tr>
            <tr>
                <th>Case Number</th>
                <th>type</th>
                <th>Case Date</th>
                <th>Doctor's Name</th>
                <th>Patient's Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Territory Manager</th>
                <th>User Type</th>
                <th>Task With</th>
                <th>Task Since</th>
                <th>Seen</th>
                <th>Case Status</th>
                <th>Submited Date</th>
                <th>Parisaline Referral</th>
                <th>Clinic Name</th>
                <th>Customer Number</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>