<h1 style="color: #6868ab;
text-shadow: 1px 1px 8px #6868ab;">List Doctors</h1>
<div>
    <table id="scroll-vertical-datatable" class="table dt-responsive nowrap tabelStatus">
        <thead>
            <tr>
                <th>Doctor Number</th>
                <th>Doctor Name</th>
                <th>Total Patients</th>
                <th>number of Invoices</th>
                <th>Delverd Cases</th>
                <th>Doctor Status</th>
                <th></th>
            </tr>
        </thead>
    
    
        <tbody>
            
        </tbody>
    </table>
</div>