<div class="card-box mb-2" *ngFor="let bal of balances | filter:term" style="text-align: center;">
  <div class="row align-items-center">
    <div class="col-sm-4">
      <div class="media">
        <img class="d-flex align-self-center mr-3 rounded-circle" src="{{ urlStatic+ bal.logo }}"
          alt="Generic placeholder image" height="64">
        <div class="media-body">
          <h4 class="mt-0 mb-2 font-16"><b style="float: left;">Dental Center : </b><a  >{{ bal.dentalCenterName }}</a></h4>
          <p class="mb-1"><b style="float: left;">Invoice Number:</b> {{ bal.id}}</p>
          <p class="mb-0"><b style="float: left;">Payment Method:</b> {{ bal.billType==0?'Transfer':'Online Payment' }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="media-body">
        <h4 class="mt-0 mb-2 font-16"><b style="float: left;">Doctor : </b><a >{{ bal.nameDoctor }}</a></h4>
        <p class="mb-1"><b style="float: left;">Date:</b> {{ bal.createdAt | date}}</p>
        <p class="mb-0"><b style="float: left;">Comment:</b> {{ bal.comment }}</p>
      </div>
    </div>
    <div class="col-sm-4">
      <h4 class="mb-1" style="color: teal;">{{ bal.price}} $</h4>
      <div class="badge font-14 p-1" [ngClass]="{
        'bg-soft-info text-info': bal.status === 0, 
        'bg-soft-danger text-danger': bal.status === 2,
        'bg-soft-success text-success': bal.status === 1
      }">{{ bal.status==0?'Processing':bal.status==1?'Accepted':'reject' }}</div>
    </div>
  </div> <!-- end row -->
</div> 
<div class="text-center my-4" *ngIf="LodingMore">
  <a href="javascript:void(0);" class="text-danger"><i class="mdi mdi-spin mdi-loading mr-1"></i> Load more </a>
</div>