<div class="container-fluid">

  <app-page-title title="PATIENTS" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="col-lg-12 col-xl-12" >
    <div >
      <h5 class="mb-3 mt-4 text-uppercase" style="border-bottom: 1px solid rgb(207, 205, 205);">
        List of Patients
      </h5> 
      <div class="d-flex justify-content-between " >
        <select class="custom-select" style="width: auto" (change)="changeTabel($event,1)"  [(ngModel)]="pageSize">
          <option [ngValue]="10">10</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="40">40</option>
          <option [ngValue]="80">80</option>
        </select>
      </div>
      <div class="row">
        <div class="col-md-12">
        
          <div class="table-responsive" style="display: inline;">

            <table class="table table-striped">
              <thead>
              <tr>
                <th>Photo</th>
                <th>Serial Number</th>
                <th>Patient Name</th>
                <th>Supervisor</th>
                <th>      
                      <div ngbDropdown placement="left" class="dropdown d-inline" style="width: 100%;">
                  <div class="btn-group" style="width: 100%;">
                    <button type="button" class="btn btn-info ml-1" style="background: none;color: #000;width: 76%;text-align: center;">{{caseStatusText}}</button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" ngbDropdownToggle id="aaa">
                    </button>
                  </div>
                  <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="aaa">
                    <a class="dropdown-item" href="javascript: void(0);" (click)="changeCasesStatus(-1,'All')" >All</a>
                    <a class="dropdown-item" href="javascript: void(0);" (click)="changeCasesStatus(0,'Draft')" >Draft</a>
                    <a class="dropdown-item" href="javascript: void(0);" (click)="changeCasesStatus(1,'Patient records processing')" >Patient Record Check</a>
                    <a class="dropdown-item" href="javascript: void(0);" (click)="changeCasesStatus(2,'Digital Setup')" >Patient Record Preparation</a>
                    <a class="dropdown-item" href="javascript: void(0);" (click)="changeCasesStatus(3,'Revision')" >Record Review </a>
                    <a class="dropdown-item" href="javascript: void(0);" (click)="changeCasesStatus(4,'Revision')" >Doctor's Record Review</a>
                    <a class="dropdown-item" href="javascript: void(0);" (click)="changeCasesStatus(5,'Appliance Fabrication')" >Model Formation</a>
                    <a class="dropdown-item" href="javascript: void(0);" (click)="changeCasesStatus(6,'Shipping')" >Shipping</a>
                    <a class="dropdown-item" href="javascript: void(0);" (click)="changeCasesStatus(7,'Completed')" >Completed</a>
                  </div>
                </div></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let pt of patientold">
                <td>
                  <img [src]="URLStatic+pt.image" class="mr-2" style="width: 40px;height: 40px;border-radius: 50%;">
                </td>
                <th scope="row">{{ pt.id }}</th>
                <td>{{pt.firstName+' '+pt.lastName}}</td>
                <td>
                  <div *ngIf="pt.caseStatus==null" style="background: #20a9f1;text-align: center;color: #fff;">
                    <div  class="">
                      <a>Case Draft</a>
                    </div>
                  </div>
                  <div *ngIf="pt.caseStatus==0" style="background: #20a9f1;text-align: center;color: #fff;">
                    <div  class="">
                      <a>Case Draft</a>
                    </div>
                  </div>
                  <div *ngIf="pt.caseStatus==1" style="background: #0075c2;text-align: center;color: #fff;">
                    <div  class="">
                      <a>Records Processing</a>
                    </div>
                  </div>
                  <div  *ngIf="pt.caseStatus==2" style="background: #fb7e00;text-align: center;color: #fff;">
                    <div  class="">
                      <a>Treatment Setup</a>
                    </div>
                  </div>
                  <div *ngIf="pt.caseStatus==3"  style="background: #d2691e;text-align: center;color: #fff;">
                    <div  class="">
                      <a>Case Revision </a>
                    </div>
                  </div>
                  <div  *ngIf="pt.caseStatus==4" style="background: #696969;text-align: center;color: #fff;">
                    <div  class="">
                      <a>Your Approval</a>
                    </div>
                  </div>
                  <div *ngIf="pt.caseStatus==5" style="background: #7ecd00;text-align: center;color: #fff;">
                    <div  class="">
                      <a>Case Fabrication</a>
                    </div>
                  </div>
                  <div  *ngIf="pt.caseStatus==6" style="background: #a19703;text-align: center;color: #fff;">
                    <div  class="">
                      <a>Case Delivered</a>
                    </div>
                  </div>
                  <div *ngIf="pt.caseStatus==7"  style="background: #009688;text-align: center;color: #fff;">
                    <div  class="">
                      <a>Total Cases</a>
                    </div>
                  </div>
                </td>
                <td>
                  <a routerLink="{{getLink(pt.id)}}" type="button" class="btn btn-outline-warning" ><i class="far fa-eye"></i> </a>
                  <a (click)="openModelSuperVisor(pt.id,modelSuperVisor)" type="button" class="btn btn-outline-warning" style="margin-left: 10px;" *ngIf="pt.caseStatus!=0 && !pt.super_id" > set Supervisor</a>
                  <a (click)="openModelSuperVisor(pt.id,modelSuperVisor)" type="button"  style="margin-left: 10px;color: #0075c2;" *ngIf="pt.caseStatus!=0 && pt.super_id" > {{(pt.super_firstName+' '+pt.super_lastName).length >= 10 ?(pt.super_firstName+' '+pt.super_lastName).substring(0,10)+'..':pt.super_firstName+' '+pt.super_lastName}}</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-2">

        </div>
      </div>
    </div>
</div>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize"  (pageChange)="changeTabel($event)" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>
</div>
</div>



<ng-template #patientModel role="document" let-modal="close">
  <form class="needs-validation" name="formPatient" [formGroup]="formPatient" (ngSubmit)="onSubmit()"
  novalidate>
  <app-ui-preloader [display]="loading"></app-ui-preloader>
  <div class="modal-header">
      <h4 class="modal-title">{{titleFormName}}</h4>
      <button type="button" class="close" aria-hidden="true" (click)="modal('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="name">Name Patient</label>
  
        <input type="namePatient" formControlName="namePatient"   class="form-control" [ngClass]="{ 'is-invalid': submitted && fn.namePatient.errors }" id="namePatient"  />
        <div *ngIf="submitted && fn.namePatient.errors" class="invalid-feedback">
          <div *ngIf="fn.namePatient.errors.required">Name Patient</div>
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="name">Phone Number</label>
  
        <input type="phoneNumber" formControlName="phoneNumber"   class="form-control" [ngClass]="{ 'is-invalid': submitted && fn.phoneNumber.errors }" id="phoneNumber"  />
        <div *ngIf="submitted && fn.phoneNumber.errors" class="invalid-feedback">
          <div *ngIf="fn.phoneNumber.errors.required">Phone Number</div>
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="name">Email</label>
  
        <input type="email" formControlName="email"   class="form-control" [ngClass]="{ 'is-invalid': submitted && fn.email.errors }" id="email"  />
        <div *ngIf="submitted && fn.email.errors" class="invalid-feedback">
          <div *ngIf="fn.email.errors.required">Email</div>
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="name">Country</label>
        <ng-select   formControlName="countryId" (ngModelChange)="onChangeCountry()"  bindLabel="countryName" bindValue="id" [items]="Country" >
          <ng-template ng-label-tmp let-item="item">
            <flag-icon country="{{item.code}}" ></flag-icon>
            <b>{{item.countryName}}</b>
         </ng-template>
         <ng-template ng-option-tmp let-item="item" let-index="index">
          <flag-icon country="{{item.code}}" ></flag-icon>
          <b>{{item.countryName}}</b>
      </ng-template>
        </ng-select>
  
        <div *ngIf="submitted && fn.countryId.errors" class="invalid-feedback">
          <div *ngIf="fn.countryId.errors.required">Country</div>
        </div>
      </div>
      
      <div class="form-group col-lg-6">
        <label for="name">City</label>
  
         <ng-select   formControlName="cityId"  bindLabel="cityName" (ngModelChange)="onChangeCountry()" bindValue="id" [items]="city" ></ng-select>
        <div *ngIf="submitted && fn.cityId.errors" class="invalid-feedback">
          <div *ngIf="fn.cityId.errors.required">City</div>
        </div>
      </div>
      <div class="form-group col-lg-12">
        <label for="name">Address</label>
  
        <textarea type="address" formControlName="address"   class="form-control" [ngClass]="{ 'is-invalid': submitted && fn.address.errors }" id="address"  >

        </textarea>
        <div *ngIf="submitted && fn.address.errors" class="invalid-feedback">
          <div *ngIf="fn.address.errors.required">Address</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light waves-effect" (click)="modal('Cross click')" >{{trans.users.btn_modal_close}}</button>
      <button type="button" class="btn btn-primary" type="submit">{{trans.users.btn_modal_save}}</button>
  </div>
</form>
</ng-template>


<ng-template #modelSuperVisor role="document" let-modal="close">
  <form class="needs-validation" name="formPatient" [formGroup]="formPatient" (ngSubmit)="onSubmit()"
  novalidate>
  <app-ui-preloader [display]="loading"></app-ui-preloader>
  <div class="modal-header">
      <h4 class="modal-title">{{titleFormName}}</h4>
      <button type="button" class="close" aria-hidden="true" (click)="modal('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="name">Set supervisor</label>
        <ng-select (change)="changeVlaueVisror($event)" bindLabel="lastName" bindValue="id" [items]="supervisor" >
            <ng-template ng-label-tmp let-item="item">
              <img src="{{URLStatic+item.photo}}" style="width: 40px;">
              <b>{{item.first_name+" "+item.last_name}}</b>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <img src="{{URLStatic+item.photo}}" style="width: 40px;">
            <b>{{item.first_name+" "+item.last_name}}</b>
            </ng-template>
        </ng-select>
  
        <div *ngIf="submitted && fn.countryId.errors" class="invalid-feedback">
          <div *ngIf="fn.countryId.errors.required"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light waves-effect" (click)="modal('Cross click')" >{{trans.users.btn_modal_close}}</button>
      <button type="button" class="btn btn-primary" type="submit" (click)="SetSuperVisor(supervisor)">{{trans.users.btn_modal_save}}</button>
  </div>
</form>
</ng-template>
